// header-open
body {
    max-width: 1920px;
    margin: 0 auto;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1920px;
    z-index: 9;
    background: rgba(119, 125, 139, 0.6);
    height: 70px;
    margin: 0 auto;
    .container {
        @media screen and (max-width: 991.698px) {
            padding: 0;
        }
    }
}
.header_grid {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 70px;
    @media screen and (max-width: 991.98px) {
        grid-template-columns: 1fr;
    }
}
.header_logo {
    margin: auto;
    @media screen and (max-width: 991.98px) {
        display: none;
    }
    a {
        color: #fff;
        text-decoration: none;
        font-size: 44px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }
    &:hover a {
        text-shadow: 0 5px 5px rgba(252, 227, 138, 0.4);
    }
}
.header_menu {
    display: grid;
    position: relative;
    align-content: center;
    grid-template-columns: 1fr 178px;
    grid-gap: 20px;
    @media screen and (max-width: 991.98px) {
        padding: 0 15px 0 0;
    }
    &_btn {
        .hamburger {
            @media screen and (min-width: 992px) {
                display: none;
            }
        }
        &_nav {
            display: flex;
            padding: 0;
            list-style: none;
            justify-content: space-around;
            li {
                @media screen and (min-width: 576px) {
                    text-align: center;
                }
            }
            @media screen and (max-width: 991.98px) {
                position: absolute;
                left: 0;
                top: 70px;
                width: 100%;
                height: 100%;
                margin: 0;
                background: hsla(222,8%,51%,.6);
                align-content: center;
                transform: translate(-150vw, 0);
                transition: width 475ms ease-out, transform 450ms ease;
            }
            @media screen and (max-width: 575.98px) {
                flex-direction: column;
                padding-left: 25px;
                height: 240px;
            }
            &_item {
                line-height: 42px;
                @media screen and (max-width: 991.98px) {
                    display: flex;
                    align-items: center;
                    a {
                        padding: 0;
                    }
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    padding-bottom: 8px;
                    text-transform: uppercase;
                    &:hover {
                        color: #fce38a;
                        border-bottom: 3px solid;
                    }
                }
            }
        }
    }
    .form {
        display: grid;
        grid-template-columns: 135px 22px;
        grid-gap: 0 20px;
        align-content: center;
        justify-content: end;
        input {
            height: 22px;
        }
        input[type="search"] {
            padding-left: 5px;
            border: 0;
        }
    }
}
// header-close
  
  input.hamburger {
    display: none;
    &:checked {
        & ~ .header_menu_btn_nav {
            transform: translatex(0);
      }
      & ~ label {
        > i {
          background-color: transparent;
          transform: rotate(90deg);
          &:before {
            transform: translate(-50%, -50%) rotate(315deg);
          }
          &:after {
            transform: translate(-50%, -50%) rotate(-315deg);
          }
        }
      }
    }
  }
  
  label.hamburger {
    z-index: 1;
    position: relative;
    left: 15px;
    display: block;
    height: 50px;
    width: 50px;
    > i {
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      background-color: #fff;
      pointer-events: auto;
      transition-duration: .35s;
      transition-delay: .35s;
      &:before,
      &:after {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        left: 50%;
        background-color: #fff;
        content: "";
        transition: transform 0.35s;
        transform-origin: 50% 50%;
      }
      &:before {
        transform: translate(-50%, -14px);
      }
      &:after {
        transform: translate(-50%, 14px);
      }
    }
  }