<div class="about" id="About">
    <div class="container">
        <h3>What we do</h3>
        <h2>Story about us</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="team">
            <div class="team_item">
                <img src="img/home/story-1.jpg" alt="">
            </div>
            <div class="team_item">
                <img src="img/home/story-2.jpg" alt="">
            </div>
            <div class="team_item">
                <img src="img/home/story-3.jpg" alt="">
            </div>
        </div>
    </div>
</div>