<div class="services" id="Services">
    <div class="container">
        <h3>We work with</h3>
        <h2>Amazing services</h2>
        <hr>
        <div class="services_work">
            <div class="services_work_item">
                <div class="services_work_item_img">
                    <img src="img/home/services-1.png" alt="">
                </div>
                <div class="services_work_item_title">
                    <h2>Photography</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="services_work_item">
                <div class="services_work_item_img">
                    <img src="img/home/services-2.png" alt="">
                </div>
                <div class="services_work_item_title">
                    <h2>Web design</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="services_work_item">
                <div class="services_work_item_img">
                    <img src="img/home/services-3.png" alt="">
                </div>
                <div class="services_work_item_title">
                    <h2>Creativity</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="services_work_item">
                <div class="services_work_item_img">
                    <img src="img/home/services-4.png" alt="">
                </div>
                <div class="services_work_item_title">
                    <h2>Seo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="services_work_item">
                <div class="services_work_item_img">
                    <img src="img/home/services-5.png" alt="">
                </div>
                <div class="services_work_item_title">
                    <h2>Css/Html</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
            <div class="services_work_item">
                <div class="services_work_item_img">
                    <img src="img/home/services-6.png" alt="">
                </div>
                <div class="services_work_item_title">
                    <h2>Digital</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>
            </div>
        </div>
    </div>
</div>