<div class="blog" id="Blog">
    <div class="container">
        <h3>Our stories</h3>
        <h2>Latest blog</h2>
        <hr>
        <div class="blog_stories">
            <div class="blog_stories_item">
                <img src="img/home/stories-1.jpg" alt="">
                <div class="blog_stories_item_date">
                    <h3>15</h3>
                    <p>Jan</p>
                </div>
                <a href="#">
                    Lorem ipsum dolor sit amet.
                </a>
                <p>
                    Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="blog_stories_item_icon">
                    <div class="blog_stories_item_icon_item"><img src="img/home/blog-icon-1.png" alt=""><span>542</span></div>
                    <div class="blog_stories_item_icon_item"><img src="img/home/blog-icon-2.png" alt=""><span>17</span></div>
                </div>
            </div>
            <div class="blog_stories_item">
                <img src="img/home/stories-2.jpg" alt="">
                <div class="blog_stories_item_date">
                    <h3>14</h3>
                    <p>Jan</p>
                </div>
                <a href="#">
                    Lorem ipsum dolor sit amet.
                </a>
                <p>
                    Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="blog_stories_item_icon">
                    <div class="blog_stories_item_icon_item"><img src="img/home/blog-icon-1.png" alt=""><span>763</span></div>
                    <div class="blog_stories_item_icon_item"><img src="img/home/blog-icon-2.png" alt=""><span>31</span></div>
                </div>
            </div>
            <div class="blog_stories_item">
                <img src="img/home/stories-3.jpg" alt="">
                <div class="blog_stories_item_date">
                    <h3>12</h3>
                    <p>Jan</p>
                </div>
                <a href="#">
                    Lorem ipsum dolor sit amet.
                </a>
                <p>
                    Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="blog_stories_item_icon">
                    <div class="blog_stories_item_icon_item"><img src="img/home/blog-icon-1.png" alt=""><span>1756</span></div>
                    <div class="blog_stories_item_icon_item"><img src="img/home/blog-icon-2.png" alt=""><span>99</span></div>
                </div>
            </div>
        </div>
    </div>
</div>