<div class="second">
    <div class="container">
        <div class="carousel">
            <div class="carousel_item">
                <div class="carousel_item_left">
                    <img src="img/home/joshua.jpg" alt="">
                </div>
                <div class="carousel_item_right">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                    <div class="carousel_item_right_name">
                        <hr>
                        <h3>Joshua Earle</h3>
                    </div>
                </div>
            </div>
            <div class="carousel_item">
                <div class="carousel_item_left">
                    <img src="img/home/joshua.jpg" alt="">
                </div>
                <div class="carousel_item_right">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                    <div class="carousel_item_right_name">
                        <hr>
                        <h3>Joshua Earle</h3>
                    </div>
                </div>
            </div>
            <div class="carousel_item">
                <div class="carousel_item_left">
                    <img src="img/home/joshua.jpg" alt="">
                </div>
                <div class="carousel_item_right">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                    <div class="carousel_item_right_name">
                        <hr>
                        <h3>Joshua Earle</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>