<div class="clients">
    <div class="container">
        <h3>Happy Clients</h3>
        <h2>What people say</h2>
        <hr>
        <div class="clients_say">
            <div class="clients_say_item">
                <div class="clients_say_item_image"><img src="img/home/people-1.jpg" alt=""></div>
                <div class="clients_say_item_title">
                    <h2>Matthew Dix</h2>
                    <h3>Graphic Design</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad mi</p>
                </div>
            </div>
            <div class="clients_say_item">
                <div class="clients_say_item_image"><img src="img/home/people-2.jpg" alt=""></div>
                <div class="clients_say_item_title">
                    <h2>Nick Karvounis</h2>
                    <h3>Graphic Design</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad mi</p>
                </div>
            </div>
            <div class="clients_say_item">
                <div class="clients_say_item_image"><img src="img/home/people-3.jpg" alt=""></div>
                <div class="clients_say_item_title">
                    <h2>Jaelynn Castillo</h2>
                    <h3>Graphic Design</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad mi</p>
                </div>
            </div>
            <div class="clients_say_item">
                <div class="clients_say_item_image"><img src="img/home/people-4.jpg" alt=""></div>
                <div class="clients_say_item_title">
                    <h2>Mick Petrucci</h2>
                    <h3>Graphic Design</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad mi</p>
                </div>
            </div>
        </div>
    </div>
</div>