<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">

    <link rel="shortcut icon" href="img/favicon.png" />

    <!-- <link rel="canonical" href="" />
    <link rel="alternate" hreflang="uk" href="" /> -->

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="css/style.min.css">
    <link rel="stylesheet" href="css/libs.css">

    <title>MoGo</title>

    <!-- Поддержка старых браузеров-->
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <header>
        <div class="container">
            <div class="header_grid">
                <div class="header_logo">
                    <a href="#">MoGo</a>
                </div>
                <div class="header_menu">
                    <div class="header_menu_btn">
                        <input id="hamburger" class="hamburger" type="checkbox" />
                        <label class="hamburger" for="hamburger">
                            <i></i>
                        </label>
                        <ul class="header_menu_btn_nav">
                            <li class="header_menu_btn_nav_item"><a href="#About" title="">About</a></li>
                            <li class="header_menu_btn_nav_item"><a href="#Service" title="">Service</a></li>
                            <li class="header_menu_btn_nav_item"><a href="#Work" title="">Work</a></li>
                            <li class="header_menu_btn_nav_item"><a href="#Blog" title="">Blog</a></li>
                            <li class="header_menu_btn_nav_item"><a href="#Contact" title="">Contact</a></li>
                        </ul>
                    </div>
                    <form class="form">
                        <input type="search">
                        <input type="image" src="img/home/search.svg">
                    </form>
                </div>
            </div>
        </div>
    </header>