<div class="stats">
    <div class="container">
        <div class="stats_list">
            <div class="stats_list_item">
                <h2 class="stats_list_item_count">42</h2>
                <h4 class="stats_list_item_title">
                    Web disign project
                </h4>
            </div>
            <div class="stats_list_item">
                <h2 class="stats_list_item_count">123</h2>
                <h4 class="stats_list_item_title">
                    Happy client
                </h4>
            </div>
            <div class="stats_list_item">
                <h2 class="stats_list_item_count">15</h2>
                <h4 class="stats_list_item_title">
                    Award winner
                </h4>
            </div>
            <div class="stats_list_item">
                <h2 class="stats_list_item_count">99</h2>
                <h4 class="stats_list_item_title">
                    Cup of coffee
                </h4>
            </div>
            <div class="stats_list_item">
                <h2 class="stats_list_item_count">24</h2>
                <h4 class="stats_list_item_title">
                    Members
                </h4>
            </div>
        </div>
    </div>
</div>