<div class="team">
    <div class="container">
        <h3>Who we are</h3>
        <h2>Meet our team</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</p>
        <div class="team_people">
            <div class="team_people_item">
                <div class="team_people_item_men">
                    <img src="img/home/men-1.jpg" alt="">
                    <div class="team_people_item_men_overlay">
                        <a href="https://www.facebook.com/"></a>
                        <a href="https://www.twitter.com"></a>
                        <a href="https://www.pinterest.com/"></a>
                        <a href="https://www.instagram.com/"></a>
                    </div>
                </div>
                <h2>Matthew Dix</h2>
                <h3>Graphic Design</h3>
            </div>
            <div class="team_people_item">
                <div class="team_people_item_men">
                    <img src="img/home/men-2.jpg" alt="">
                    <div class="team_people_item_men_overlay">
                        <a href="https://www.facebook.com/"></a>
                        <a href="https://www.twitter.com"></a>
                        <a href="https://www.pinterest.com/"></a>
                        <a href="https://www.instagram.com/"></a>
                    </div>
                </div>
                <h2>Christopher Cambell</h2>
                <h3>Branding/UX design</h3>
            </div>
            <div class="team_people_item">
                <div class="team_people_item_men">
                    <img src="img/home/men-3.jpg" alt="">
                    <div class="team_people_item_men_overlay">
                        <a href="https://www.facebook.com/"></a>
                        <a href="https://www.twitter.com"></a>
                        <a href="https://www.pinterest.com/"></a>
                        <a href="https://www.instagram.com/"></a>
                    </div>
                </div>
                <h2>Michael Fertig</h2>
                <h3>Developer</h3>
            </div>
        </div>
    </div>
</div>