<div class="work" id="Work">
    <div class="container">
        <div class="work_designer">
            <div class="work_designer_items">
                <div class="work_designer_items_item"></div>
                <div class="work_designer_items_overlay">
                    <img src="img/home/PICTURE.png" alt="">
                    <h2> Creatively designer</h2>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="work_designer_items">
                <div class="work_designer_items_item"></div>
                <div class="work_designer_items_overlay">
                    <img src="img/home/PICTURE.png" alt="">
                    <h2> Creatively designer</h2>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="work_designer_items">
                <div class="work_designer_items_item"></div>
                <div class="work_designer_items_overlay">
                    <img src="img/home/PICTURE.png" alt="">
                    <h2> Creatively designer</h2>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="work_designer_items">
                <div class="work_designer_items_item"></div>
                <div class="work_designer_items_overlay">
                    <img src="img/home/PICTURE.png" alt="">
                    <h2> Creatively designer</h2>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="work_designer_items">
                <div class="work_designer_items_item"></div>
                <div class="work_designer_items_overlay">
                    <img src="img/home/PICTURE.png" alt="">
                    <h2> Creatively designer</h2>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="work_designer_items">
                <div class="work_designer_items_item"></div>
                <div class="work_designer_items_overlay">
                    <img src="img/home/PICTURE.png" alt="">
                    <h2> Creatively designer</h2>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="work_designer_items">
                <div class="work_designer_items_item"></div>
                <div class="work_designer_items_overlay">
                    <img src="img/home/PICTURE.png" alt="">
                    <h2> Creatively designer</h2>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
        </div>
    </div>
</div>