<div class="work" id="Work">
        <h3>What we do</h3>
        <h2>Some of our work</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</p>
    <div class="work_designer">
        <div class="work_designer_items">
            <div class="work_designer_items_item"></div>
            <div class="work_designer_items_overlay">
                <img src="img/home/PICTURE.png" alt="">
                <h2> Creatively designer</h2>
                <p>Lorem ipsum dolor sit</p>
            </div>
        </div>
        <div class="work_designer_items">
            <div class="work_designer_items_item"></div>
            <div class="work_designer_items_overlay">
                <img src="img/home/PICTURE.png" alt="">
                <h2> Creatively designer</h2>
                <p>Lorem ipsum dolor sit</p>
            </div>
        </div>
        <div class="work_designer_items">
            <div class="work_designer_items_item"></div>
            <div class="work_designer_items_overlay">
                <img src="img/home/PICTURE.png" alt="">
                <h2> Creatively designer</h2>
                <p>Lorem ipsum dolor sit</p>
            </div>
        </div>
        <div class="work_designer_items">
            <div class="work_designer_items_item"></div>
            <div class="work_designer_items_overlay">
                <img src="img/home/PICTURE.png" alt="">
                <h2> Creatively designer</h2>
                <p>Lorem ipsum dolor sit</p>
            </div>
        </div>
        <div class="work_designer_items">
            <div class="work_designer_items_item"></div>
            <div class="work_designer_items_overlay">
                <img src="img/home/PICTURE.png" alt="">
                <h2> Creatively designer</h2>
                <p>Lorem ipsum dolor sit</p>
            </div>
        </div>
        <div class="work_designer_items">
            <div class="work_designer_items_item"></div>
            <div class="work_designer_items_overlay">
                <img src="img/home/PICTURE.png" alt="">
                <h2> Creatively designer</h2>
                <p>Lorem ipsum dolor sit</p>
            </div>
        </div>
        <div class="work_designer_items">
            <div class="work_designer_items_item"></div>
            <div class="work_designer_items_overlay">
                <img src="img/home/PICTURE.png" alt="">
                <h2> Creatively designer</h2>
                <p>Lorem ipsum dolor sit</p>
            </div>
        </div>
    </div>
</div>